<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608216640153-3sukt4g1igg7jsnb1aqt39l6c7iraioe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608216640153-3sukt4g1igg7jsnb1aqt39l6c7iraioe</string>
	<key>API_KEY</key>
	<string>AIzaSyDFqGsFIWIb6faFDi7upFcUIb1RGH0RNPg</string>
	<key>GCM_SENDER_ID</key>
	<string>608216640153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.parcode.AfterWork</string>
	<key>PROJECT_ID</key>
	<string>t-afterwork</string>
	<key>STORAGE_BUCKET</key>
	<string>t-afterwork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608216640153:ios:a6dc63b0b957b7d9276608</string>
</dict>
</plist>